html {
    scroll-behavior: smooth;
}

body{
    font-family: Ubuntu, sans-serif;
    /* background-color: #2b3240; */
    background-image: linear-gradient(0deg, #222731, #2b3240);
    margin:0;
}

h1 {
    font-size: 46px;
    display: block;
    color:#fafcff;
    text-align:center;
    margin: 15px;
    transition: font-size .15s ease-out;
}

@media screen and (max-width: 992px){
    h1 {
        font-size: 62px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 72px;
    }
}

h2 {
    font-size: 12px;
    color:#c7c7c7;
    text-align:center;
    transition: font-size .15s ease-out;
}

h2:hover {
    font-size: 13px;
}

h3{
    color: #f0f1f5;
    font-size: 30px;
    margin-bottom:15px;
}

p{
    font-size: 14px;
    color:#b9bec7;
    padding: 10px;
    text-align:center;
    border:2px solid  #94a0b8;
    outline: 4px solid #525f7a;
    border-radius:3px;
    margin:25px auto;
    width: 40%;
    font-weight: bold;
    background-color: #525f7a;
}

.button{
    margin-left: .5%;
    background-color: #444f63;
    color: #8f9eba;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all .3s ease-out;
    border-radius: 3px;
}

.button:hover{
    background-color: #616c82;
}

.top {
    overflow: hidden;
    background-color: #353e4d;
    box-shadow: 0 4px 8px 0 #00000048;
    transition: all .25s ease-out;
}

.top .link{
    float: right;
    display: block;
    color: #b8b8c2;
    text-align: center;
    padding: 16px 15px;
    text-decoration: none;
    transition: all .25s ease-out;
}

.top .link:hover {
    background-color: #525d70;
    color: rgb(226, 226, 247);
}

.top #logo {
    padding: 10px;
    width: 60px;
    transition: all .25s ease-out;
}

.top #logo:hover{
    background-color: #525d70;
}

@media screen and (max-width: 992px){
    .top {
        box-shadow: 0 6px 10px 0 #00000048;
    }
    .top .link{
        font-size: 20;
    }
    .top #logo {
        width: 70px;
    }
}

@media screen and (max-width: 600px){
    .top {
        box-shadow: 0 7px 11px 0 #00000048;
    }
    .top .link{
        font-size: 24;
    }
    .top #logo {
        width: 80px;
    }
}

#icon {
    color:#ffffff;
    font-size: 35px;
    margin: 15px 50%;
}
