html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body{
    font-family: Ubuntu, sans-serif;
    background-repeat:no-repeat;
    background-image: linear-gradient(0deg, #222731, #2b3240);
    background-attachment:fixed;
    margin:0;
    overflow-x: hidden;
}

h1 {
    font-size: 10vw;
    color:#fafcff;
    text-align:center;
    margin-top: 50px;
    margin-bottom:0px;
}

h2 {
    margin-top:0px;
    font-size: 3vw;
    color:#c7c7c7;
    text-align:center;
}

h3{
    color: #f0f1f5;
    font-size: 30px;
    margin-bottom:15px;
}

.buttonSec {
    margin-top:25px;
}

.button{
    background-color: #444f63;
    color: #8f9eba;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color .3s ease-out;
    margin: 10px;
    border-radius:2px;
}

.button:hover{
    background-color: #616c82;
}

.top {
    background-color: #353e4d;
    box-shadow: 0 4px 8px 0 #00000048;
    top: 0;
    position: sticky;
    z-index: 50;
}

.top .link{
    float: right;
    display: block;
    color: #b8b8c2;
    text-align: center;
    padding: 16px 15px;
    text-decoration: none;
    transition: background-color .25s ease-out, color .25s ease-out;
}

.top .link:hover {
    background-color: #525d70;
    color: rgb(226, 226, 247);
}

.top #logo {
    padding: 10px;
    width: 60px;
    transition: background-color .25s ease-out;
}

.top #logo:hover{
    background-color: #525d70;
}

.social {
    width: 10vw;
    margin: 0vw 1vw;
    opacity: .6;
    transition: all .2s ease-in-out;
}

.social:hover {
    opacity: 1;
    transform: scale(1.1);
}

#info {
    text-align: center;
    width: 50%;
    font-size: 3vw;
    color:#c6daf3;
    text-align:center;
    animation-delay: .5s; 
}

#social {
    animation-delay: .7s; 
}

#discordTxt {
    position: absolute;
    text-align: center;
    margin: 0;
    opacity: 0;
    font-size: 2vw;
    transform: translateY(.25vw) translateX(-1.5vw);
    transition: all .25s ease-in-out;
}

#discord:hover #discordTxt {
    opacity: 1;
    cursor: text;
    transform: translateY(-1.75vw) translateX(-1.5vw);
}

#discord:hover {
    cursor: pointer;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    position: bottom;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 14vw;
    }

    h2 {
        font-size: 4vw;
    }

    .social {
        width: 20vw;
        margin: 0vw 1vw;
        transition: transform .2s ease-in-out;
    }

    #info {
        text-align: center;
        width: 50%;
        font-size: 5vw;
        color:#c6daf3;
        text-align:center;
    }

    #discordTxt {
        position: absolute;
        text-align: center;
        margin: 0;
        opacity: 0;
        font-size: 3.5vw;
        transform: translateY(.25vw) translateX(-1.5vw);
        transition: all .25s ease-in-out;
    }
}
