:root {
    --bg-color: rgb(255, 255, 255);
    --text-color: rgb(56, 56, 59);
    --text-accent-color: #1e5a9e;
    --hr-color: rgb(220, 221, 226);
    
    --button-color: rgb(39, 40, 65);
    --button-hover-color: rgb(118, 121, 167);
}  

::-webkit-scrollbar {
    display: none;
}

* {
    color: var(--text-color);
    transition-property: background-color, color;
    transition-timing-function: ease-out;
    transition-duration: .2s;
}

body {
    background-color: var(--bg-color);
    scroll-behavior: smooth;
    font-family: 'BR Firma', sans-serif;
}

hr {
    width: 85%;
    border: 2px solid var(--hr-color);
}

.notransition {
    transition: none !important;
}

.text {
    text-align: center;
    font-size: 6vw;
    margin: 4vw auto 4vw auto;
    width: 70%;
}

.timer-title {
    font-size: .5em;
    margin: 0;
    text-transform: capitalize;
}

.timer-data {
    font-size: 6.5vw;
    margin: 0;
}

#timer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

#dark-button {
    color: var(--button-color);
    float: right;
    font-size: 4vw;
    padding-right: max(40px, 4vw);
    transition: color .25s ease-out;
}

#dark-button:hover {
    color: var(--button-hover-color);
    cursor: pointer;
}